{% extends 'base.html' %}
{% set active_page = "settings" %}

{% block content %}
    <h1 class="mb-3">{% block title %} {{ _('Settings') }} {% endblock %}</h1>
    <h3>{{ _('Suricata Update') }}</h3>
    <div class="mb-5">
        <form action="/settings" method="post" id="update-form">
            <input type="hidden" name="req_type" value="suricata-update">
            <button class="btn btn-primary" type="submit" id="update-form-submit">{{ _('Update rules') }}</button>
            <p><i>{{ _('Note: Savannah needs to be run as root (sudo mode) to update rules.') }}</i></p>
        </form>
        <div>
            <label for="suricata-update-output">{{ _('Update output:') }}</label>
            <textarea class="form-control" id="suricata-update-output" rows="8" readonly></textarea>
        </div>
    </div>
    <h3>{{ _('Suricata main log') }}</h3>
    <div class="mb-5">
        <textarea class="form-control" id="suricata-log" rows="8" readonly>{% if suricata_error %}{{ _('Error while loading log file.') }}
            {% else %}{{ suricata_log }}
            {% endif %}</textarea>
    </div>
    <script>
        $(document).ready(function () {
           $("#update-form").submit(function ( event ){
               event.preventDefault();
               $("#update-form-submit").attr("disabled", true);
               sendAjaxForm("update-form", "suricata-update-output");
           })
        });

        function sendAjaxForm(form_ajax, output){
            var form = $("#" + form_ajax);
            $.ajax({
                type: form.attr('method'),
                url: form.attr('action'),
                data: form.serialize(),
                success: function (response) {
                    $('#' + output).html(response);
                    form.trigger('reset');
                    $("#update-form-submit").attr("disabled", false);
                },
                error: function (error) {
                    $('#' + output).html(error);
                    form.trigger('reset');
                    $("#update-form-submit").attr("disabled", false);
                }
            });
        }
    </script>
{% endblock %}